.location {
  position: absolute;
  left: 0;
  width: 100%;

  display: flex;

  svg {
    fill: black;

    .st0 {
      fill: none;
    }
  }

  &:hover {
    cursor: pointer;
    color: rgb(255, 38, 0);

    svg {
      fill: rgb(255, 38, 0);
    }
  }
}
