.location {
  position: absolute;
  left: 0;
  width: 100%;

  display: flex;

  &:hover {
    cursor: pointer;
    color: rgb(255, 115, 0);

    .location-svg {
      fill: rgb(255, 115, 0);
    }
  }
}
