.categories-cont {
  width: 100%;
  background: linear-gradient(to bottom, rgb(255, 81, 0), rgb(255, 174, 0));
  .categories {
    width: 70%;
    margin: 0 auto 10px auto;
    padding: 15px 0;

    display: flex;
    justify-content: space-between;

    color: white;
    .category {
      &:hover {
        cursor: pointer;
        color: rgb(252, 248, 5);
      }

      &.sale-category {
        font-weight: bold;
        &::after {
          content: "";
          border-right: 2px solid gray;
          margin-left: 5px;
        }
      }
    }
  }
}
