.contacts {
  width: 120%;
  max-width: 300px;
  min-width: 240px;

  display: flex;
  justify-content: space-between;

  .viber-cont {
    display: flex;

    .viber-icon {
      width: 24px;
      height: 24px;
    }
  }

  .phone {
    a {
      color: black;
      text-decoration: none;
    }
  }

  .dropdown {
    .dropdown-menu {
      width: 200px;

      font-size: 14px;

      .tel-show {
        display: none;
      }
    }

    .dropdown-toggle {
      background: none;
      border: none;
      color: rgb(71, 70, 70);
      padding: 0;
      margin-top: -2px;

      font-size: 16px;

      &:hover,
      &.show {
        color: rgb(255, 38, 0);
      }
      &:active,
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    &::before {
      border-left: gray;
    }
  }
}
