.details-cont {
  position: relative;
  width: 60%;
  min-width: 480px;
  margin: 70px auto;

  .title {
    width: 100%;
    margin: 0 auto;

    text-align: center;
  }

  .description {
    position: relative;
    width: 100%;
    margin-top: 45px;
    border-top: 2px solid rgb(255, 136, 0);
    padding: 5px 20px;

    .description-title {
      position: absolute;
      top: -30px;

      font-size: 18px;
      font-weight: bold;
      color: rgb(255, 102, 0);
    }
  }

  .slider-cont {
    position: relative;
    margin-top: 60px;

    display: flex;

    .images-cont {
      width: 15%;

      .image {
        margin-bottom: 20px;
        // background: linear-gradient(to right, black, gray);
        background: linear-gradient(to right, red, rgb(255, 217, 0));
        padding: 4px 5%;

        cursor: pointer;

        img {
          width: 100%;
          height: auto;
          max-height: 130px;

          display: inline-block;
        }
      }
    }

    #detailsSlider {
      position: relative;
      width: 50%;
      // min-height: 50vh;
      height: 50%;
      margin: 0 0 0 9%;
      padding: 25px;

      box-shadow: 0 0 5px rgb(211, 209, 209);
      .carousel-inner {
        width: 80%;
        margin: 0 auto;

        img {
          margin: 0 auto;
          width: auto;
          max-width: 90%;
          max-height: 260px;
        }
      }

      .sr-only {
        color: black;
      }

      .carousel-control {
        width: 10%;
        margin: 0 5px;

        text-align: center;
      }
    }

    .carousel {
      margin-top: 20px;

      .item {
        width: 90%;
      }
      .item .thumb {
        width: 25%;
        cursor: pointer;
        float: left;
      }
      .item .thumb img {
        width: 100%;
        margin: 2px;
      }
      .item img {
        width: 100%;
      }
    }
  }
}
